<% content_for :title, t('global.friends') %>

<h1><%= t('global.friends') %>:</h1>

<div id="friends">
  <% @users.each do |friend| %>
    <%= render friend %>
    <p>
      <%= link_to t('adventures.show-link'), friend %>
    </p>
  <% end %>
</div>