<% content_for :title, "Editing adventure" %>

<h1>Editing adventure</h1>

<%= render "form", adventure: @adventure %>

<br>

<div>
  <%= link_to t('secrets.show-link'), @adventure %> |
  <%= link_to t('secrets.back-link'), adventures_path %>
</div>
