<% content_for :title, t('global.adventures') %>

<h1><%= t('global.adventures') %>:</h1>

<div id="adventures">
  <% @adventures.each do |adventure| %>
    <%= render adventure %>
    <p>
      <%= link_to t('adventures.show-link'), adventure %>
    </p>
  <% end %>
</div>

<%= link_to t('adventures.new-link'), new_adventure_path %>
