<!-- https://www.youtube.com/watch?v=nqAnftA8LbA -->
<div data-controller="previews">
  <%= form.label :Pictures, style: "display: block"%>
  <%= form.file_field :Pictures,
    direct_upload: true,
    :accept => 'image/jpeg,image/png',
    data: { previews_target: "input", action: "change->previews#preview" }
  %>
   <!-- "Image of Spot:", :accept => 'image/jpeg,image/png'%> -->

    <% if secret.Pictures.attached? %>
      <%= image_tag secret.Pictures, data: { previews_target: "preview" }, class: "secret-pictures" %>
    <% else %>
      <%= image_tag "", data: { previews_target: "preview" }, class: "secret-pictures" %>
    <% end %>
</div>