<%= link_to t('secrets.new-link') ,  if user_signed_in? then new_secret_path else new_user_session_path end  %>

<div id="secrets">
  <% @secrets.each do |secret| %>
    <%= render secret %>
    <p>
      <%= link_to t('secrets.show-link') , secret %>
    </p>
  <% end %>
</div>
