<% content_for :title, "Secrets" %>

<h1>Secrets:</h1>

<%= link_to t('.new') ,  if user_signed_in? then new_secret_path else new_user_session_path end  %>

<div id="secrets">
  <% @secrets.each do |secret| %>
    <%= render secret %>
    <p>
      <%= link_to t('.show') , secret %>
    </p>
  <% end %>
</div>
