<div id="<%= dom_id secret %>">
  <p>
    <strong>Naam:</strong>
    <%= secret.naam %>
  </p>

  <p>
    <strong>Beschrijving:</strong>
    <%= secret.beschrijving %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= secret.likes %>
  </p>

</div>
