
<div id="<%= dom_id secret %>">
  <p>
    <strong>User:</strong>
    <%= User.find(secret.user_id).email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= secret.name %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= secret.body %>
  </p>

</div>
