<% content_for :title, t('.title') %>

<h1><%= t('.edit') %></h1>

<%= render "form", secret: @secret %>

<br>

<div>
  <%= link_to t('secrets.show-link'), @secret %> |
  <%= link_to t('secrets.back-link'), secrets_path %>
</div>
