<%= stylesheet_link_tag "newSecret" %>
<% content_for :title, t('.title') %>

<div class="newSecretForm">

  <h1><%= t('.new') %></h1>

  <%= render "form", secret: @secret %>

  <br>

  <div>
  <%= link_to t('secrets.back-link'), secrets_path %>
  </div>
</div>
