

<%= render @secret %>

<div>
  <%= if @permission then link_to t('secrets.edit-link'), edit_secret_path(@secret) end %>
  <%= link_to t('secrets.back-link'), secrets_path %>

  <%= if @permission then button_to t('secrets.destroy-link') , @secret, method: :delete end %>
</div>
