.nav-item:hover,.navbar-brand:hover{
    background-color: rgb(24, 23, 23);
    border-radius: 5px;

}
.navbar-brand{
    padding:5px;
}
#welcome{
    margin-top: 3%;
}

.button_to{
    margin-left:8px;
}
.container-fluid{
    height:10%;
}
.user_profpic > img{
    vertical-align: middle;
    height:50px;
    width:50px;
    border-radius: 50%;

}
