.secret-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
  
  .secret-item {
    width: 280px;
    border: 1px solid #DDD;
    background-color: #FFF;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
  }
  
  .secret-item:hover {
    transform: translateY(-5px);
  }
  
  .secret-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .secret-description {
    padding: 10px;
  }
  
  .secret-actions {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #DDD;
  }


  .secrets-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
  }
  .secretlabel:hover{
    cursor: pointer;
  }
  .secret-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .secret-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    cursor:pointer;
  }

  .secret-title {
    font-size: 1.5rem;
    color: #000000;
    text-align: center;
    margin-bottom: 10px;
  }

  .secret-thumbnail {
    display: block;
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 4px;
  }

  .secret-description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
  }

  .secret-meta {
    font-size: 0.9rem;
    color: #777;
    text-align: center;
  }

  .btn-action {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28A745;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  .btn-action:hover {
    background-color: #218838;
  }

  .no-secrets {
    font-size: 1.2rem;
    color: #666;
  }
  h2 > form > button{
    display: none;
  }
 

  